.casadel__product-single
  .bg-grey
    background-color: #f4f4f4
  .price
    font-size: 2rem
    display: block
  .product__usp-icons
    font-size: 1.3rem
    text-align: center
  .product__sidebar-container
    height: max-content
  .make-my-image-huge *
    height: 100%
    .attachment-large
      height: 100%
      object-fit: cover
  .streek_image
    height: 300px
    width: auto
  .casadel__product-kenmerken
    margin-left: 2px
  /**
    * This is for the related products.
    */
  .product__card__tease-image
    height: 250px
    width: auto

  .elementor-container
    max-width: 1350px !important

@include below_tablet
  .casadel__product-image
    width: 130px
    height: auto
  .mobile__prod__grid-container
    display: grid
    grid-template-areas: "img img title title title title" "img img . . . ." "img img order order order order" "specs specs specs specs specs specs" "content content content content content content" "usp usp usp usp usp usp"
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    .mobile__prod__grid-image
      grid-area: img
    .mobile__prod__grid-title-price
      grid-area: title
    .mobile__prod__grid-order
      grid-area: order
      min-width: 100%
      position: relative
      &.floating
        position: fixed
        left: 0
        bottom: 0
        padding-top: 1rem
        background: #f4f4f4
        z-index: 3
        & > form
          display: flex
          & #quantity
            width: 50%
    .mobile__prod__grid-specs
      grid-area: specs
      width: 100vw
    .mobile__prod__grid-content
      grid-area: content
    .mobile__prod__grid-usp
      grid-area: usp
      margin: 2rem 0
