{% extends "templates/layouts/wc_base.twig" %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}

    {% if not fn('is_product_category') %}
        {% do action('woocommerce_before_shop_main_content') %}
    <div class="before-shop-loop container mt-5">
        <div class="row">
            <div class="col-md-10 offset-md-2 d-flex justify-content-between">
                {% do action('woocommerce_before_shop_loop') %}
            </div>
        </div>
    </div>
    {% else %}
        {% do action('woocommerce_before_shop_main_content') %}
        <div class="before-shop-loop container">
            <div class="row">
                <div class="col-md-10 offset-md-2 d-flex justify-content-between">
                    {% do action('woocommerce_before_shop_loop') %}
                </div>
            </div>
        </div>
    {% endif %}
    <section class="container loop">
        <div class="row">
            {% if device.isMobile %}
                <button class="btn w-25 mx-auto mb-2 text-white bg-primary" id="mobileShower"><i class="fas fa-filter"></i></button>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                      document.querySelector('#mobileShower').addEventListener('click', function () {
                        document.querySelector('#mobileHider').classList.toggle('d-none')
                      });
                    });
                </script>
            {% endif %}
            <div class="col-md-2 d-none d-md-block" id="mobileHider">
                {% filter shortcodes %}
                    [wcpf_filters id="5463"]
                {% endfilter %}
            </div>
            <div class="col-md-10">
                <div class="row products" id="app">
                    {% for post in products %}
                        <div class="col-md-3 mb-3">
                            {% include ["templates/woocommerce/partials/tease-product.twig"] with { product: fn('wc_get_product', post.ID) } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% do action('woocommerce_after_shop_loop') %}

    {% do action('woocommerce_after_shop_main_content') %}

    {% if fn('elementor_theme_do_location', 'nieuwsbrief-right') %}
    {% endif %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}
