<section class="d-flex d-md-none justify-content-end w-100" id="nav-mobile">
    <span aria-controls="#mobile-navigation" class="mobile-navigation-button" data-action="toggleMobileMenu">
        <i class="fas fa-bars fa-2x color-primary-dark-40"></i>
    </span>
    <nav id="mobile-navigation" class="d-none" aria-expanded="false">

    </nav>
</section>
