<section class="d-flex justify-content-end w-100" id="nav-mobile">
    <span aria-controls="#mobile-navigation" class="mobile-navigation-button">
        <i class="fas fa-bars color-primary-dark-10"></i>
    </span>
    <nav id="mobile-navigation" aria-expanded="false">

    </nav>
</section>
