<section class="d-flex justify-content-end w-100" id="nav-mobile">
    <button type="button" aria-controls="#mobile-navigation">
        <i class="fas fa-bars color-primary-dark-10"></i>
    </button>
    <nav id="mobile-navigation" aria-expanded="false">

    </nav>
</section>
