.nav-main-item
  font-weight: bold
  margin-right: 20px
  color: #373737

.drop-down
  display: none
  background: var(--white)
  list-style-type: none
  width: 200px
  z-index: 1
  &.active
    position: absolute
    top: 100%
    left: 0
    display: block

.mobile-navigation-button
  z-index: 2
  color: var(--primary-dark-20)


.mobile-menu-fixed
  position: fixed
  top: 0
  right: 0
  height: 100vh
  width: 75vw
  transition: all 0.3s ease-in-out
  background: #f4f4f4
  z-index: 1
  padding-top: 30vh
  border-radius: 5px
  transform: scale(0, 1)
  transform-origin: right

  &.active
    transition: all 0.3s ease-in-out
    transform: scale(1)
    box-shadow: -3px 0px 6px rgba(51, 51, 51, 0.2), -8px 0px 16px rgba(51, 51, 51, 0.14)
  .mobile-parent-nav-item
    .mobile-nav-main-item
      color: #000
      font-weight: bold
    .mobile-nav-sub-item
      color: #707070
