<table>
    <tr>
        <th class="product__usp-icons color-primary-dark-40"><i class="far fa-clock"></i>&nbsp;</th>
        <td char="product__usp-text">
            {% if product.get_stock_quantity >= 18 %}
                Op werkdagen voor 15.00 uur besteld, morgen in huis
            {% elseif product.get_stock_quantity %}
                Nog {{ product.get_stock_quantity }} op voorraad.
            {% else %}
                Op werkdagen voor 15.00 uur besteld, morgen in huis
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="product__usp-icons color-primary-dark-40"><i class="fas fa-truck"></i>&nbsp;</th>
        <td char="product__usp-text">
            <strong>Gratis verzending vanaf &euro; 50,-</strong>
            (België vanaf &euro; 100,-)
        </td>
    </tr>
    <tr>
        <th class="product__usp-icons color-primary-dark-40"><i class="fas fa-wine-glass-alt "></i>&nbsp;</th>
        <td char="product__usp-text">
            Proefgarantie
        </td>
    </tr>
    <tr>
        <th class="product__usp-icons color-primary-dark-40"><i class="fas fa-home"></i>&nbsp;</th>
        <td char="product__usp-text">
            Ophalen in Amsterdam mogelijk
        </td>
    </tr>
    <tr>
        <th class="product__usp-icons color-primary-dark-40"><i class="fas fa-trophy"></i>&nbsp;</th>
        <td char="product__usp-text">
            Klanten beoordelen ons met een 9.5 / 10
        </td>
    </tr>
</table>
