<table>
    <tr>
        <th><i class="fas fa-clock"></i></th>
        <td>
            Op werkdagen voor 15.00 uur besteld, morgen in huis
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-truck"></i></th>
        <td>
            Gratis verzending vanaf &euro; 50,-
            (België vanaf &euro; 100,-)
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-wine-glass-alt "></i></th>
        <td>
            Proefgarantie
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-home"></i></th>
        <td>
            Ophalen in Amsterdam mogelijk
        </td>
    </tr>
    <tr>
        <th><i class="fas fa-trophy"></i></th>
        <td>
            Klanten beoordelen ons met een 9.5 / 10
        </td>
    </tr>
</table>