{% do action('cdv_before_single_product_price') %}
<span class="price mb-2 px-2">
    &euro; {{ product.get_price| number_format(2, ',', '.') }}
</span>
{% do action('cdv_after_single_product_price') %}