<div class="site-branding" data-template="helpers.base-header.twig">
    {% set _logo = Image(theme.theme_mod('custom_logo')) %}
    <figure class="mb-0 d-none d-lg-block">
        <a href="/" title="home">
            <img src="{{ _logo.src('medium') }}" alt="Casadelvino.nl" class="custom-logo">
        </a>
    </figure>
</div><!-- .site-branding -->
