<a href="{{ checkout_url }}" class="cdv-checkout-button button_large">
    Afrekenen
</a>

{#<input type="submit" class="cdv-checkout-button button_large" name="woocommerce_checkout_place_order" id="place_order" value="Bestelling plaatsen" data-value="Bestelling plaatsen" >#}
