.product__card-container
  background: #F4F4F4
  text-align: center
  .product__card__tease-title
    font-family: 'Playfair Display', fantasy
    text-align: center
    font-size: 1rem
    color: var(--dark)
    min-height: 3rem
    font-weight: 900
  .product__card__tease-streek
    @extend .product__card__tease-title
    min-height: 1rem
    font-weight: 400
    font-size: 1rem
  .product__card__tease-image
    width: auto
    height: 340px
