.drop-down
  display: none
  background: var(--white)
  list-style-type: none
  width: 200px
  z-index: 1
  &.active
    position: absolute
    top: 100%
    left: 0
    display: block

.mobile-navigation-button
  color: var(--primary-dark-20)


.mobile-menu-fixed
  position: fixed
  top: -100%
  &.active
    top: 0
    transition: all 0.3s ease-in-out
  left: 0
  //transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -ms-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s
  width: 50vw
  background: #f4f4f4
  z-index: 1
  padding-top: 30vh
  .mobile-parent-nav-item
    .mobile-nav-main-item
      color: var(--white)
