.drop-down
  display: none
  background: var(--white)
  list-style-type: none
  width: 200px
  z-index: 1
  &.active
    position: absolute
    top: 100%
    left: 0
    display: block

.mobile-navigation-button
  color: var(--primary-dark-20)


.mobile-menu-fixed
  position: fixed
  top: 0
  left: 0
  transition: all 0.3s ease-in-out
  &.d-none
    top: -100%
