<td class="product-thumbnail">
    {% if not _permalink %}
        {{ _product.get_image }}
    {% else %}
        <a href="{{ _permalink }}">
            {{ _product.get_image }}
        </a>
    {% endif %}
</td>
