<td class="product-remove">
    <a href="{{ fn('wc_get_cart_remove_url', key) }}" class="remove" aria-label="{{ __('Remove this item', 'woocommerce') }}" data-product_id="{{ _product.id }}" data-product_sku="{{ product.sku }}">
        &times;
    </a>
</td>
