<section class="container">
    <div class="row my-2">
        <div class="col-lg-10 offset-lg-2 d-block justify-content-between">
            {{ category.description|wpautop }}
        </div>
    </div>
</section>
