<div class="bg-primary py-2" data-template-source="header.topper.twig">
    <div class="container">
        <div class="row justify-content-end">
            <section>
                <span>
                    <span class="fa-stack">
                        <i class="fas fa-circle text-white" style="font-size: 2rem"></i>
                        <i class="fas fa-phone fa-flip-horizontal fa-stack-1x text-primary"></i>
                    </span>
                    {% if theme.theme_mod('phone_linked') %}
                        <a href="tel:{{ theme.theme_mod('header_telephone') }}" class="text-white">
                            {{ theme.theme_mod('header_telephone', '080') }}
                        </a>
                    {% else %}
                        <span class="text-white">
                            {{ theme.theme_mod('header_telephone', '080') }}
                        </span>
                    {% endif %}
                </span>
                <span>
                    <i class="far fa-user"></i>
                </span>
                <span>
                    <i class="far fa-shopping-cart"></i>
                </span>
            </section>
        </div>
    </div>
</div>
