<div class="bg-primary py-1" data-template-source="header.topper.twig">
    <div class="container">
        <div class="row">
            <section>
                <span class="usp mr-1 text-white">
                    <i class="fas fa-truck"></i>
                    Gratis verzending vanaf &euro;50 in NL en &euro;100 in BE
                </span>
                <span class="usp text-white">
                    <i class="fas fa-clock"></i>
                    Voor 15:00 besteld, vandaag verzonden.
                </span>
            </section>
            <section class="d-none d-md-block ml-auto">
                {% include 'templates/layouts/helpers/header/parts/telephone.twig' %}
                {% include 'templates/layouts/helpers/header/parts/account.twig' %}
                {% include 'templates/layouts/helpers/header/parts/cart.twig' %}
            </section>
        </div>
    </div>
</div>
