<div class="bg-primary py-2" data-template-source="header.topper.twig">
    <div class="container">
        <div class="row justify-content-end">
            <section class="d-none d-md-block">
                {% include 'templates/layouts/helpers/header/parts/telephone.twig' %}
                {% include 'templates/layouts/helpers/header/parts/account.twig' %}
                {% include 'templates/layouts/helpers/header/parts/cart.twig' %}
            </section>
        </div>
    </div>
</div>
