<section style="width: 100%; padding: 0.5rem; background: #000000; color: #ffffff; text-align:center;">
    Let op: PostNL krijgt het de komende dagen erg druk, bestel op tijd dan proberen wij een vlotte verzending te regelen.
</section>
<div class="bg-primary py-1" data-template-source="header.topper.twig">
    <div class="container">
        <div class="row">
            <section class="d-none d-xl-block">
                <span class="usp mr-1 text-white">
                    <i class="fas fa-truck"></i>
                    Gratis verzending vanaf &euro;50 in NL <span class="d-none d-md-inline">en &euro;100 in BE</span>
                </span>
                <span class="usp text-white">
                    <i class="fas fa-clock"></i>
                    Voor 15:00 besteld, vandaag verzonden.
                </span>
            </section>
            <section class="d-block ml-auto">
                {% include 'templates/layouts/helpers/header/parts/telephone.twig' %}
                {% include 'templates/layouts/helpers/header/parts/account.twig' %}
                {% include 'templates/layouts/helpers/header/parts/cart.twig' %}
            </section>
        </div>
    </div>
</div>
