<span >
    <a class="no-underline" href="{{ fn('get_permalink', fn('get_option', 'woocommerce_myaccount_page_id')) }}">
        <span class="fa-stack">
            {% include 'templates/layouts/helpers/header/parts/facircle.twig' %}
            <i class="fas fa-user fa-stack-1x fasicon"></i>
        </span>
        <span class="text-white d-none d-md-inline-block">
            Mijn account
        </span>
    </a>
</span>
