<span>
    <a class="no-underline" href="{{ fn('wc_get_cart_url') }}">
        <span class="fa-stack">
            <i class="fas fa-circle text-white"></i>
            <i class="fas fa-shopping-cart fa-stack-1x text-primary"></i>
        </span>
    </a>
</span>
