<span>
    <a class="no-underline d-block text-center mr-2 position-relative" href="{{ fn('wc_get_cart_url') }}">
        <span class="fa-stack">
            {% include 'templates/layouts/helpers/header/parts/facircle.twig' %}
            <i class="fas fa-shopping-cart fa-stack-1x fasicon"></i>
        </span>
        <span class="special-text-sizing">
            Wijnmandje
        </span>
        {% set _cart_content = fn('cdv_cart_contents_count') %}
        {% if _cart_content is not same as('0') %}
            <small class="cart-counts-bulb">{{ _cart_content }}</small>
        {% endif %}
    </a>
</span>
