<span>
    <a class="no-underline" href="{{ fn('wc_get_cart_url') }}">
        <span class="fa-stack">
            {% include 'templates/layouts/helpers/header/parts/facircle.twig' %}
            <i class="fas fa-shopping-cart fa-stack-1x fasicon"></i>
        </span>
        <span class="text-white d-none d-md-inline-block font-weight-bold">
            Wijnmandje
        </span>
        <small class="text-white mr-2">({{ fn('cdv_cart_contents_count') }})</small>
    </a>
</span>
