<span>
    <span class="fa-stack" aria-controls="#mobile-search" data-action="toggleMobileSearch">
        {% include 'templates/layouts/helpers/header/parts/facircle.twig' %}
        <i class="fas fa-search fa-flip-horizontal fa-stack-1x fasicon"></i>
    </span>
</span>
