<span>
    <span class="fa-stack" aria-controls="#mobile-search" data-action="toggle-search">
        <i class="fas fa-circle facircle"></i>
        <i class="fas fa-search fa-flip-horizontal fa-stack-1x fasicon"></i>
    </span>
</span>
