<span>
    <span class="fa-stack">
        <i class="fas fa-circle text-white"></i>
        <i class="fas fa-phone fa-flip-horizontal fa-stack-1x text-primary"></i>
    </span>
    {% if theme.theme_mod('phone_linked') %}
        <a href="tel:{{ theme.theme_mod('header_telephone') }}" class="text-white">
            {{ theme.theme_mod('header_telephone') }}
        </a>
    {% else %}
        <span class="text-white">
            {{ theme.theme_mod('header_telephone', true) }}
        </span>
    {% endif %}
</span>
