{# extends base.twig #}
{% extends "templates/layouts/base.twig" %}
{% block content %}
    {% do action('cdv_before_front_page_content') %}
    <div class="body">
        {{ post.content }}
    </div>
    {% do action('cdv_after_front_page_content') %}
{% endblock %}
