<form action="/" method="get" class="search-form d-flex" id="searchForm" autocomplete="off">
    <input type="hidden" name="post_type" value="product" id="post_type">
    <input type="text"
           placeholder="Zoek een wijn, druif, streek..."
           tabindex="1"
           id="autoComplete" name="s" autocomplete="off">
    <button class="btn search-icon" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>
