<form action="/" method="get">
    <input type="hidden" name="post_type" value="product">
    <input type="text" name="s" placeholder="Zoeken naar...">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>