<div class="row d-none bg-secondary-light-50 py-1" id="mobile-search" aria-expanded="false">
    <form action="/" class="mobile-search-form d-flex mx-auto col-5 bg-white">
        <form action="/" method="get" class="search-form d-flex" id="searchForm" autocomplete="off">
            <input type="hidden" name="post_type" value="product" id="post_type">
            <input type="text" class="w-75 py-1" name="s" placeholder="Zoeken naar..." id="s">
            <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </form>
</div>
