.custom-logo
  max-height: 150px
  width: auto
  position: absolute
  z-index: 1

@import './partials/search'
@import "partials/navigation"

.grid
  display: grid
  transition: all 0.3s

.fa-circle
  font-size: 2rem

#searchForm
  position: relative
  #autocomplete_List
    position: absolute
    top: 100%
    left: 0
