<div class="mobile__prod__grid-image">
    {% include 'templates/woocommerce/single-product/product-thumbnail.twig' %}
</div>
<div class="mobile__prod__grid-title-price">
    {% include 'templates/woocommerce/single-product/product-title.twig' %}
    {% include 'templates/woocommerce/single-product/sidebar/product-price.twig' %}

    {% if product.is_in_stock  %}
        {% if product.get_stock_quantity < 18 %}
            <p class="mb-2">
                <strong style="color: #FDBD43;">Nog {{ product.get_stock_quantity }} op voorraad</strong>
            </p>
        {% else %}
            <p class="mb-2">
                <strong style="color: #41A043;">
                    Op voorraad
                </strong>
            </p>
        {% endif %}
    {% endif %}
</div>
<div class="mobile__prod__grid-order">
    {% do action('cdv_before_single_product_order') %}
    <add-to-cart :product-id="{{ post.ID }}" :is-expanded="true"></add-to-cart>
    {% do action('cdv_after_single_product_order') %}
</div>
<div class="mobile__prod__grid-specs">
    <div class="usp-carousel owl-carousel" style="max-width: 90vw;">
        <div style="width: 95vw; padding: 0 15px;">
            <table>
                <tr>
                    {% if product.is_in_stock %}
                        <th class="product__usp-icons" style="color: #41A043; vertical-align: middle;"><i class="fas fa-check"></i></th>
                        <td class="product__usp-text" style="padding-left: 15px;">
                            Op werkdagen voor 15.00 uur besteld, morgen in huis
                        </td>
                    {% else %}
                        <th class="product__usp-icons" style="color: #dbe218"><i class="fas fa-exclamation-triangle"></i></th>
                        <td class="product__usp-text">Tijdelijk niet op voorraad</td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div style="width: 95vw; padding: 0 15px;">
            <table>
                <tr>
                    <th class="product__usp-icons" style="color: #41A043;"><i class="fas fa-check"></i>&nbsp;</th>
                    <td class="product__usp-text" style="padding-left: 7px;">
                        <strong class="d-block"><span style="color: #41A043;">Gratis</span> verzending vanaf &euro; 50,-</strong>
                        (België vanaf &euro; 100,-)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% include ['templates/woocommerce/single-product/product-attributes-'~post.slug~'.twig', 'templates/woocommerce/single-product/product-attributes.twig'] %}
</div>
<div class="mobile__prod__grid-content">
    {{ post.meta('inleiding') }}
    {{ post.content }}
</div>
<div class="mobile__prod__grid-usp">
    {% include 'templates/woocommerce/single-product/sidebar/product-usp.twig' %}
</div>
