<aside class="row" id="product-related_{{ post.ID }}">
    <div class="border-grey p-2 my-3">
        <h3 class="font-playfair font-weight-bold">
            Gerelateerde producten
        </h3>
        <div class="row">
            {% for related in related_products %}
                <div class="col-6 col-lg-3">
                    {% include 'templates/woocommerce/partials/tease-product.twig' with { post: related, product: fn('wc_get_product', related.ID) } %}
                </div>
            {% endfor %}
        </div>
    </div>
</aside>
