<aside class="row" id="product-related_{{ post.ID }}">
    <div class="col-md-6 offset-md-1 bg-grey p-2">
        <h3 class="font-playfair font-weight-bold">
            Gerelateerde<br>producten
        </h3>
        <div class="row">
            {% for related in related_products %}
                <div class="col-md-6">
                    {% include 'templates/woocommerce/partials/tease-product.twig' with { post: related, product: fn('wc_get_product', related.ID) } %}
                </div>
            {% endfor %}
        </div>
    </div>
</aside>